:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --white-color: #FFFFFF;
    --dark-background-color: #2F303A;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-link {
    color: var(--black-color);
}

.header-link2 {
    color: var(--blue-color);
}

.header-link3 {
    color: var(--gray-color);
}


footer {
    background-color: var(--dark-background-color);
}

.description-card p {
    color: var(--gray-color);
}

.footer-link {
    color: var(--gray-color);
}

.footer-address {
    color: var(--white-color);
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.header-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.list-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.description-card h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.description-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}

.footer-address,
.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.header {
    margin: 25px 0;
    margin-bottom: 94px;
}

.post-list {
    margin-bottom: 56px;
}

.card {
    margin-top: 50px;
}

.list-card {
    margin-top: 30px;
}

.footer {
    margin-top: 94px;
    padding: 60px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.header-list {
    display: flex;
    justify-content: center;

}

.header-item:not(:last-child) {
    margin-right: 50px;

}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item:nth-child(3) {
    margin-right: 300px;
}

.post-list {
    display: flex;
    justify-content: center;
}

.list-button:not(:last-child) {
    margin-right: 8px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-card {
    width: 370px;
    margin-bottom: 30px;
}

.footer-list img {
    margin-bottom: 20px;
}