:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --white-color: #FFFFFF;
    --dark-background-color: #2F303A;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-link {
    color: var(--black-color);
}

.header-link2 {
    color: var(--gray-color);
}

.header-link3 {
    color: var(--gray-color);
}

.header-link:hover {
    color: var(--blue-color);
    border-bottom: 4px solid var(--blue-color);
}

.header-link {
    padding-bottom: 42px;
}

.header-link2:hover {
    color: var(--blue-color);
}

.header-link3:hover {
    color: var(--blue-color);
}


footer {
    background-color: var(--dark-background-color);
}

.description-card p {
    color: var(--gray-color);
}

.footer-link {
    color: var(--gray-color);
}

.footer-address {
    color: var(--white-color);
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.header-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.list-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.description-card h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.description-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}

.footer-address,
.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.header {
    margin: 25px 0;
    margin-bottom: 94px;
}

.post-list {
    margin-bottom: 56px;
}

.card {
    margin-top: 50px;
}

.footer {
    margin-top: 94px;
    padding: 60px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.header-list {
    display: flex;
    justify-content: center;

}

.header-item:not(:last-child) {
    margin-right: 50px;

}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item:nth-child(3) {
    margin-right: 300px;
}

.post-list {
    display: flex;
    justify-content: center;
}

.list-button:not(:last-child) {
    margin-right: 8px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-card {
    width: 370px;
}

.footer-list img {
    margin-bottom: 20px;
}

.img-card {
    margin: 0;
    border: 1px solid whitesmoke;
}

.description-card {
    margin-left: 24px;
}

* {
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    list-style: none;
}

.post-button {
    border: 0px;
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
}

.post-button:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
    box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.68);
}

.img-card,
.img-card img {
    width: 100%;

}


.list-card {
    flex-basis: calc((100% - 60px) / 3);
}

.img-card:hover {
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.19);
}

.h3-footer-reg {
    margin-left: 20px;
}


.article-reg {
    display: flex;
    justify-content: center;
}

.footer-reg-list-link {
    margin-left: 15px;
    background-color: rgb(53, 60, 69);
    border-radius: 30px;
}

.footer-reg-list-link:hover {
    background-color: #2196F3;
    fill: #FFFFFF;
}

.client-list-link:hover .svg-client {
    fill: #2196F3;
}

.svg-client {
    fill: var(--gray-color);
}

.div-footer-reg {
    margin-left: 70px;
}

footer .container {
    display: flex;
    justify-content: flex-start;
}

.h3-footer-reg {
    color: #FFFFFF;
}

.footer-reg-list-link {
    fill: #FFFFFF;
    width: 44px;
    height: 44px;
}

.footer-reg-list-link:hover {
    background-color: #2196F3;
    border-radius: 30px;
}

.footer-reg-list-link {
    padding: 12px;
}


.svg-footer-reg {
    fill: var(--white-color);
}

.header-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.header-item-div {
    display: flex;
    align-items: start;
}

.header-item-div img {
    margin-right: 10px;
}

.header-item-div {
    margin-right: 20px;
}

.header-link2:hover .header-svg {
    fill: #2196F3;
}

.header-svg {
    width: 20px;
    height: 20px;
}

.header-div-link-svg {
    display: flex;
}

#header-svgg {
    margin-top: 2px;
    margin-right: 8px;
}

.footer-div-form-subscribe {
    margin-left: 93px;
}

.footer-article-subscribe {
    display: flex;
}

.footer-button-subscribe {
    margin-left: 12px;
    padding: 10px 28px;
    align-items: center;
    border: 0px;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 5px;
}

.footer-h3-subscribe {
    color: var(--white-color);
    font-size: 14px;
    text-transform: uppercase;
}

.footer-form-subscribe input {
    padding: 15px 295px 15px 16px;
    background-color: var(--dark-background-color);
    border-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
}

.footer-button-subscribe {
    display: flex;
    justify-content: center;
}

.svg-footer-button-subscribe {
    margin-left: 10px;
    fill: #FFFFFF;
}

.list-card-div-img {
    position: relative;
    overflow: hidden;
}

.list-card-div-p {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 150, 243, 0.6);
    transition: bottom 250ms cubic-bezier(0.37, 1.65, 0.735, 0.61);
}

.img-card:hover .list-card-div-p {
    bottom: 0;
}

.list-card-p {
    color: #FFFFFF;
    width: 322px;
    height: 168px;
    font-size: 18px;
    line-height: 28px;
}