:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --white-color: #FFFFFF;
    --blue-background-color: #2196F3;
    --dark-background-color: #2F303A;
}

.studio {
    color: var(--blue-color);
}

.portfolio,
.contact {
    color: var(--black-color);
}

.email {
    color: var(--blue-color);
}

.tel {
    color: var(--gray-color);
}

.h1 {
    color: var(--white-color);
}

.button {
    color: var(--white-color);
    background-color: var(--blue-background-color);
}

.background {
    background-color: var(--dark-background-color);
}

.article h4 {
    color: var(--black-color);
}

.article p {
    color: var(--gray-color);
}

.h2 {
    color: var(--black-color);
}

.section h2,
h3 {
    color: var(--black-color);
}

.section p {
    color: var(--gray-color);
}

.div {
    background-color: var(--dark-background-color);
}

.address,
.email2,
.tel2 {
    color: var(--white-color);
}