:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --white-color: #FFFFFF;
    --blue-background-color: #2196F3;
    --dark-background-color: #2F303A;
    --white-gray-color: #F5F4FA;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-link {
    color: var(--black-color);
}

.header-link2 {
    color: var(--gray-color);
}

.header-link3 {
    color: var(--gray-color);
}

.header-link:hover {
    color: var(--blue-color);

}

.header-link2:hover {
    color: var(--blue-color);
}

.header-link3:hover {
    color: var(--blue-color);
}

.efect-for-busines h1 {
    color: var(--white-color);
}

.efect-for-busines button {
    color: var(--white-color);
    background-color: var(--blue-background-color);
}

.efect-for-busines {
    background-color: var(--dark-background-color);
}

.efect-for-busines-item h4 {
    color: var(--black-color);
}

.efect-for-busines-item p {
    color: var(--gray-color);
}

.what-we-work-img>h2 {
    color: var(--black-color);
}

.our-team>h2 {
    color: var(--black-color);
}

.our-team-worker-description>h3 {
    color: var(--black-color);
}

.our-team-worker-description>p {
    color: var(--gray-color);
}

footer {
    background-color: var(--dark-background-color);
}

.footer-address {
    color: var(--white-color);
}

.footer-link {
    color: var(--gray-color);
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.header-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.efect-for-busines h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.efect-for-busines button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

.efect-for-busines-item h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.efect-for-busines-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.what-we-work h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.our-team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.our-team-worker-description h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.our-team-worker-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}

.footer-address,
.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.header {
    margin: 25px 0;
}

.efect-for-busines {
    padding: 200px 0;
    text-align: center;
    text-transform: uppercase;
}

.efect-for-busines button {
    margin-top: 30px;
    padding: 10px 32px;
}

.efect-for-busines-section {
    margin-top: 48px;
    margin-bottom: 94px;
}

.what-we-work h2 {
    margin-bottom: 50px;
}

.our-team h2 {
    margin-bottom: 50px;
}

.footer {
    padding: 60px 0;
}

.header-list {
    display: flex;
    justify-content: center;

}

.header-item:not(:last-child) {
    margin-right: 50px;

}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item:nth-child(3) {
    margin-right: 300px;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.efect-for-busines-list-ul {
    display: flex;
    justify-content: space-between;
}

.efect-for-busines-item {
    width: 270px;
}

.what-we-work h2 {
    text-align: center;
}

.what-we-work-img {
    display: flex;
    justify-content: space-between;
}

.our-team h2 {
    text-align: center;
}

.our-team-list {
    display: flex;
    justify-content: space-between;
}


figure.our-team-item {
    margin: 0;
    width: 270px;
    text-align: center;
}

.our-team-item img {
    width: 100%;
}

.our-team {
    padding: 50px 0;
    background-color: var(--whitegray-color);
}

.our-team-item {
    background-color: white;
}

.footer-list img {
    margin-bottom: 20px;
}

.efect-for-busines-item:nth-child(1)::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    background: url("../img2/antenna\(1\).png");
    background-position: center;
    background-color: var(--white-gray-color);
    background-repeat: no-repeat;
    width: 270px;
    height: 120px;

}

.efect-for-busines-item:nth-child(2)::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    background: url("../img2/clock\(1\).png");
    background-position: center;
    background-color: var(--white-gray-color);
    background-repeat: no-repeat;
    width: 270px;
    height: 120px;
}

.efect-for-busines-item:nth-child(3)::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    background: url("../img2/diagram\(1\).png");
    background-position: center;
    background-color: var(--white-gray-color);
    background-repeat: no-repeat;
    width: 270px;
    height: 120px;
}

.efect-for-busines-item:nth-child(4)::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    background: url("../img2/astronaut\(1\).png");
    background-position: center;
    background-color: var(--white-gray-color);
    background-repeat: no-repeat;
    width: 270px;
    height: 120px;
}

.our-team-item {
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.19);
}

.efect-for-busines {
    background-image: linear-gradient(to right, rgb(47, 48, 58, 0.2), rgb(130, 132, 160, 0.2)), url(../img2/img\(17\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-team-div-svg {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 40px;

}

.our-team-list-link:hover {
    background-color: #2196F3;
    border-radius: 30px;


}

.our-team-list-link:hover .our-team-svg {
    fill: #FFFFFF;
}

.our-team-list-link {
    padding: 20px;
}





.our-team-svg-use {
    fill: var(--gray-color);
}

.h2-client {
    text-align: center;
}

.svg-div-client {
    display: flex;
    justify-content: space-between;
}

.svg-client {
    padding-bottom: 110px;
    padding-top: 66px;
    border: 1px solid #757575;
}

.svg-client:hover {
    border-color: #2196F3;
}

.svg-use-client {
    fill: #757575;
}

.div-footer-reg {}


.h3-footer-reg {
    text-align: center;
}

.svg-use-client:hover {
    fill: #2196F3;

}

.article-reg {
    display: flex;
    justify-content: center;
}

.footer-reg-list-link {
    margin-left: 15px;
    background-color: #212121;
    border-radius: 30px;
}

.footer-reg-list-link:hover {
    background-color: #2196F3;
    fill: #FFFFFF;
}



.svg-footer-reg {}