:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --white-color: #FFFFFF;
    --blue-background-color: #2196F3;
    --dark-background-color: #2F303A;
}

.header-link{
    color: var(--black-color);
}

.header-link2 {
    color: var(--blue-color);
}

.header-link3 {
    color: var(--gray-color);
}

.efect-for-busines > h1 {
    color: var(--white-color);
}

.efect-for-busines > button {
    color: var(--white-color);
    background-color: var(--blue-background-color);
}

.efect-for-busines{
    background-color: var(--dark-background-color);
}

.efect-for-busines-item h4 {
    color: var(--black-color);
}

.efect-for-busines-item p {
    color: var(--gray-color);
}

.what-we-work-img > h2 {
    color: var(--black-color);
}

.our-team > h2 {
    color: var(--black-color);
}
.our-team-worker-description > h3 {
    color: var(--black-color);
}

.our-team-worker-description > p {
    color: var(--gray-color);
}

.footer-list {
    background-color: var(--dark-background-color);
}

.footer-address,
.footer-link {
    color: var(--white-color);
}
body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.header-navigation {
    font-weight: 500;
    font-size: 14px;
}

.efect-for-busines>h1 {
    font-weight: 900;
    font-size: 44px;
}

.efect-for-busines>button {
    font-weight: 700;
    font-size: 16px;
}

.efect-for-busines-item>h4 {
    font-weight: 700;
    font-size: 14px;
}

.efect-for-busines-item>p {
    font-weight: 400;
    font-size: 14px;
}

.what-we-work-img>h2 {
    font-weight: 700;
    font-size: 36px;
}

.our-team>h2 {
    font-weight: 700;
    font-size: 36px;
}

.our-team-worker-description>h3 {
    font-weight: 500;
    font-size: 16px;
}

.our-team-worker-description>p {
    font-weight: 400;
    font-size: 16px;
}

.footer-address,
.footer-link {
    font-weight: 400;
    font-size: 14px;
}