:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --white-color: #FFFFFF;
    --blue-background-color: #2196F3;
    --dark-background-color: #2F303A;
    --white-gray-color: #F5F4FA;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
@import"components/client";
@import"components/efect-for-busines";
@import"components/footer";
@import"components/header";
@import"components/list-card";
@import"components/modal";
@import"components/our-team";
@import"components/post";
@import"components/what-we-work";