.what-we-work-img>h2 {
    color: $black-color;
}

.what-we-work h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;
}

.what-we-work-img {
    display: flex;
    justify-content: space-between;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    p {
        color: $white-color;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgb(33, 33, 33, 0.6);
        width: 89%;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        display: block;
        padding: 20px;
        margin: 0;
    }
}

.what-we-work-img-div {
    position: relative;

}